/*container  */
body {
    background-color: #ebebeb;
}



/* INDEX */
/* nav... make name bigger, make screen size better */
.nav {
    text-align: center;
    padding: 27px;
}
.name {
    background-color: teal;
    font-size:44px;
    font-weight: bold;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    padding: 25px;
}
.row {
    
    padding-left: 15px;
    padding-right: 15px;
}
/* body... Space everything to the right. fix the my-5.*/
.aboutBox {
    background-color: white;
}
.aboutBoxHeader {
    padding: 15px;
    font-family: 'Times New Roman', Times, serif;
}
.aboutBoxDescription {
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
}



/* footer... need help */
footer {
    text-align: center;
    width: 100%;
    bottom: 0px;
    border-top: 10px solid teal;
    padding-bottom: 25px;
    padding-top: 25px;
    position: fixed;
    background-color:#666;
    color: #fff;
}




/* PORTFOLIO PAGE */







/* CONTACT PAGE */